#### ignore all .idea files ...
*
!*/

#### except
!.gitignore

# Version Control configuration for your project
!vcs.xml

# how IDEA should treat the text files in your project
!encodings.xml

# automatic code formatting
!codeStyleSettings.xml
!codeStyles/*.xml

# project specific words
!dictionaries

!copyrights
!misc.xml
!sqldialects.xml
